
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');         

:root {
  /* --font-main: system-ui, -apple-system, Roboto, Arial, sans-serif; */  /*  THIS IS FOR SYSTEM FONTS */
  --font-main: "Google Sans", sans-serif;
  --body-bg:#ffffff;
  --header: #FFF ;
  --border:#eeeeee;
  --icon-bg: #FFE0C2 ;
  --text: #212529 ;

  --backbtnBg: /* #f1f5f9  #F08D39  rgba(255,255,255,0.4) */ #f6f1eb ;
  --backbtnclr: #8b5e3c ;
  --backbtnbdr: #8b5e3c ;
}

@media (prefers-color-scheme: dark) {
 :root {
      --body-bg: #020617 ;
      
      --header: #22252b ;
      --border:#2f3440;
      --icon-bg:#fff ;
      --text: #fff ;
   
      --backbtnBg: #F08D39 ;
      --backbtnclr: #fff ;
    }
}
/**************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  user-select: none ;
  -webkit-tap-highlight-color: transparent;
  font-optical-sizing: auto;
}

body {
  font-family: var(--font-main);
  font-optical-sizing: auto;
  color: var(--text);
  animation: pageOpen 0.4s ease-out;
  background: var(--body-bg) ;
}
a { text-decoration:none; color: var(--text) ; }

.newFeature {
    display: none;
}

/*****************************************************/
/*******************************************/
header {
  padding:10px 16px;
  background:var(--header);
  border-bottom:1px solid var(--border);
  position: sticky; top: 0;
  display:flex;
  align-items:center;
  gap:10px;
  height: 60px ;  z-index: 99;
  max-height: 60px ;
}
.back-btn{
  width: 42px;
  height: 42px;
  background: var(--backbtnBg);
  color: var(--backbtnclr);
  border: 0px solid var(--backbtnbdr) ;
  border-radius:10px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-decoration:none;
}
.back-btn:active{ transform:scale(.96); }
.brand { color: var(--brand) ; }
/******************************************/
button, a {
  touch-action: manipulation;
}

/********** Keyframes *********/

@keyframes pageOpen {
  from {
    opacity: 0;
    transform: scale(0.96) ;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}



