
:root {
  --card: #fff ;
  --brand: #6f4a33 ;
  --category: linear-gradient(135deg,#8b5e3c,#b9855c);
  --shadow: none ;
  --quiz-border: #6f4a33 ;
}

@media (prefers-color-scheme: dark) {
 :root {
    --card: linear-gradient(180deg,#111827,#1e293b) ;
    --brand: #6f4a33;
    --shadow: 0 0 35px rgba(0,0,0,.4) ;
 }
}
/****************************/
.container{
  max-width:600px;
}

.streak-wrapper{
  
}

.streak-top{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.streak-left{
  display:flex;
  align-items:center;
  gap:1px;
  font-size:18px;
  font-weight:bold;
}

.shield-box{
  background: var(--quiz-border) ;
  padding: 4px 6px;
  border-radius: 50% ;
  font-size: 16px;
  display:none;
  animation:shieldPulse 1.2s infinite;
}

@keyframes shieldPulse{

  0%{ transform:scale(1); }
  50%{ transform:scale(1.08); }
  100%{ transform:scale(1); }

}

.custom-progress{
  height:10px;
  border-radius:30px;
  overflow:hidden;
  background: #e3e3e3;
  margin-top:8px;
}

.custom-progress .progress-bar{
  background: var(--category) ;
  transition:.4s ease;
  animation:glow 1.2s infinite;
}

@keyframes glow{

  0%{ box-shadow:0 0 8px #f59e0b; }
  50%{ box-shadow:0 0 20px #ef4444; }
  100%{ box-shadow:0 0 8px #f59e0b; }

}
/*******************************/
.question-card{
  background: var(--card) ;
  border-radius: 18px;
  padding:22px 18px;
  min-height: 420px;
  position:relative;
  overflow:hidden;
  transition:.35s ease;
  border: 2px solid var(--quiz-border) ;
  box-shadow: var(--shadow) ;
}

.question-card::before{
  content:'';
  position:absolute;
  width: 180px;
  height: 180px;
  background:rgba(245,158,11,.08);
  border-radius:50%;
  top:-80px;
  right:-60px;
}

.category-btn {
  display:inline-block;
  background:var(--category);
  padding: 6px 14px;
  border-radius:20px;
  color: #fff ;
  margin-bottom:10px;
  border: none ;
}

.question-text{
  font-size:26px; border: 1.5px solid var(--quiz-border) ;
  font-weight:bold; border-radius: 10px ;
  line-height:1.5; text-align: center;
  margin-bottom: 28px; padding: 35px ;
  background: #f6f1eb ;
}

.option-btn{
  width:100%;
  border:none;
  background:#334155;
  color:white;
  padding: 16px;
  border-radius:22px;
  margin-bottom:16px;
  font-size:18px;
  font-weight:bold;
  transition:.25s;
  border:2px solid transparent;
}

.option-btn:hover{
  transform:scale(0.96);
  background:#475569;
}

.correct{
  background:#16a34a !important;
  animation:correctPop .3s;
}

.wrong{
  background:#dc2626 !important;
  animation:shake .3s;
}

@keyframes correctPop{

  0%{
    transform:scale(.9);
  }

  100%{
    transform:scale(1);
  }

}

@keyframes shake{

  0%{transform:translateX(-5px);} 
  25%{transform:translateX(5px);} 
  50%{transform:translateX(-5px);} 
  75%{transform:translateX(5px);} 
  100%{transform:translateX(0);} 

}

/============= Modal Size ============/

#categoryModal .modal-dialog{
    max-width: 90%;
    width: 90%;
    margin: auto;
}

#categoryModal .modal-content{
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    border: none;
}

/* Header */
#categoryModal .modal-header{
    padding: 12px 16px;
}

/* Scrollable Body */
#categoryModal .modal-body{
    overflow-y: auto;
    padding: 15px;
}

/* Category Grid */
#categoryModal .d-grid{
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 10px;
}

/* Category Buttons */
.category-option{
    height: 45px;
    border-radius: 12px;
    font-size: 14px; color: #fff ;
    font-weight: 600;
    white-space: nowrap;
    background: var(--category) ;
}

/* Scrollbar */
#categoryModal .modal-body::-webkit-scrollbar{
    width: 4px;
}

#categoryModal .modal-body::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 20px;
}

