
:root {
  --category: linear-gradient(90deg,#f59e0b,#ef4444) ;
  --shadow: none ;
  --question-border: ;
}

@media (prefers-color-scheme: dark) {
 :root {
    --shadow: 0 0 35px rgba(0,0,0,.4) ;
 }
}
/****************************/
.container{
  max-width:600px;
}

.streak-wrapper{
  position:sticky;
  top:60px;
  z-index:998;
  background: ;
  padding-bottom: ;
}

.streak-top{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.streak-left{
  display:flex;
  align-items:center;
  gap:12px;
  font-size:18px;
  font-weight:bold;
}

.shield-box{
  background:#2563eb;
  padding: 10px 12px;
  border-radius: 50% ;
  font-size:20px;
  display:none;
  animation:shieldPulse 1.2s infinite;
}

@keyframes shieldPulse{

  0%{ transform:scale(1); }
  50%{ transform:scale(1.08); }
  100%{ transform:scale(1); }

}

.custom-progress{
  height:10px;
  border-radius:30px;
  overflow:hidden;
  background: #e3e3e3;
  margin-top:12px;
}

.custom-progress .progress-bar{
  background:linear-gradient(90deg,#f59e0b,#ef4444);
  transition:.4s ease;
  animation:glow 1.2s infinite;
}

@keyframes glow{

  0%{ box-shadow:0 0 8px #f59e0b; }
  50%{ box-shadow:0 0 20px #ef4444; }
  100%{ box-shadow:0 0 8px #f59e0b; }

}

.question-card{
  background: var(--card) ;
  border-radius: 18px;
  padding:28px;
  min-height: 440px;
  position:relative;
  overflow:hidden;
  transition:.35s ease;
  border: ;
  box-shadow: var(--shadow) ;
}

.question-card::before{
  content:'';
  position:absolute;
  width: 180px;
  height: 180px;
  background:rgba(245,158,11,.08);
  border-radius:50%;
  top:-80px;
  right:-60px;
}

.category{
  display:inline-block;
  background:var(--category);
  padding: 8px 14px;
  border-radius:20px;
  font-weight:bold;
  margin-bottom:16px;
}

.question-text{
  font-size:34px; border: var(--question-border) ;
  font-weight:bold; border-radius: 10px ;
  line-height:1.5; text-align: center;
  margin-bottom:35px;
}

.option-btn{
  width:100%;
  border:none;
  background:#334155;
  color:white;
  padding:20px;
  border-radius:22px;
  margin-bottom:18px;
  font-size:20px;
  font-weight:bold;
  transition:.25s;
  border:2px solid transparent;
}

.option-btn:hover{
  transform:scale(1.03);
  border-color:#f59e0b;
  background:#475569;
}

.correct{
  background:#16a34a !important;
  animation:correctPop .3s;
}

.wrong{
  background:#dc2626 !important;
  animation:shake .3s;
}

@keyframes correctPop{

  0%{
    transform:scale(.9);
  }

  100%{
    transform:scale(1);
  }

}

@keyframes shake{

  0%{transform:translateX(-5px);} 
  25%{transform:translateX(5px);} 
  50%{transform:translateX(-5px);} 
  75%{transform:translateX(5px);} 
  100%{transform:translateX(0);} 

}



.reward-popup{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background:linear-gradient(90deg,#f59e0b,#ef4444);
  padding:25px 35px;
  border-radius:25px;
  font-size:26px;
  font-weight:bold;
  z-index:9999;
  display:none;
  animation:popup .4s ease;
}

@keyframes popup{

  0%{
    transform:translate(-50%,-50%) scale(.5);
    opacity:0;
  }

  100%{
    transform:translate(-50%,-50%) scale(1);
    opacity:1;
  }

}

.golden-question{
  animation:golden 1s infinite;
}

@keyframes golden{

  0%{
    box-shadow:0 0 10px gold;
  }

  50%{
    box-shadow:0 0 35px orange;
  }

  100%{
    box-shadow:0 0 10px gold;
  }

}

@media(max-width:600px){

  .question-text{
    font-size:26px;
  }

  .option-btn{
    font-size:18px;
  }

}
